# dependencies
/node_modules
/.pnp
.pnp.js

# Keep environment variables out of version control
.env

# database
dev.db*

# misc
.DS_Store

# next.js
/.next/
/out/
next-env-d.ts

# production
/build
*.pem

# test
coverage

#
package-lock.json
